# Car-Price-Prediction

## Project Member -
### Name - Vaishnavi Rajput
### RollNo - 2012113

### TASK AND DESCRIPTION: 

Description:

Every passing day we can see that the car market is increasing rapidly, and that brings us to a door where many people are buying and selling the cars in the market, so to make this process more fluid and with a better market view, I am proposing a model which will take particular information related to the car and will predict the selling price. This will help to get a better view while buying and selling cars.

Task:

We are expecting a notebook having in-depth Exploratory Data Analysis that can help us visualize data.And use machine learning for prediction of selling price.

## DATASET USED


This dataset contains information about used cars listed on www.cardekho.com .This data can be used for a lot of purposes such as price prediction using Machine Learning. 

https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho

### LIBRARIES USED

#### NUMPY

NumPy, which stands for Numerical Python, is a library consisting of multidimensional array objects and a collection of routines for processing those arrays. 
Using NumPy, mathematical and logical operations on arrays can be performed.

Operations using NumPy:
Using NumPy, a developer can perform the following operations −

Mathematical and logical operations on arrays.

Fourier transforms and routines for shape manipulation.

Operations related to linear algebra. NumPy has in-built functions for linear algebra and random number generation


#### PANDAS

pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. 
It aims to be the fundamental high-level building block for doing practical, real-world data analysis in Python. 
Additionally, it has the broader goal of becoming the most powerful and flexible open source data analysis/manipulation tool available in any language. 
It is already well on its way toward this goal.

FEATURES: 

Fast and efficient DataFrame object with default and customized indexing.
Tools for loading data into in-memory data objects from different file formats.
Data alignment and integrated handling of missing data.
Reshaping and pivoting of date sets.
Label-based slicing, indexing and subsetting of large data sets.
Columns from a data structure can be deleted or inserted.
Group by data for aggregation and transformations.
High performance merging and joining of data.
Time Series functionality.

#### MATPLOTLIB

Matplotlib is one of the most popular Python packages used for data visualization. 
It is a cross-platform library for making 2D plots from data in arrays. 
Matplotlib is written in Python and makes use of NumPy, the numerical mathematics extension of Python. 

%matplotlib inline turns on “inline plotting”, where plot graphics will appear in your notebook. This has important implications for interactivity: for inline plotting, commands in cells below the cell that outputs a plot will not affect the plot.

#### PLOTLY

The Plotly Python library is an interactive open-source library. 
This can be a very helpful tool for data visualization and understanding the data simply and easily. 
plotly graph objects are a high-level interface to plotly which are easy to use. 
It can plot various types of graphs and charts like scatter plots, line charts, bar charts, box plots, histograms, pie charts, etc. 

Plotly has hover tool capabilities that allow us to detect any outliers or anomalies in a large number of data points.
It is visually attractive that can be accepted by a wide range of audiences.
It allows us for the endless customization of our graphs that makes our plot more meaningful and understandable for others.


#### SEABORN

Seaborn is an amazing visualization library for statistical graphics plotting in Python. It provides beautiful default styles and color palettes to make statistical plots more attractive. It is built on the top of matplotlib library and also closely integrated to the data structures from pandas.
Seaborn aims to make visualization the central part of exploring and understanding data. It provides dataset-oriented APIs, so that we can switch between different visual representations for same variables for better understanding of dataset.


#### SCIKIT-LEARN
Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. It provides a selection of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction via a consistence interface in Python. This library, which is largely written in Python, is built upon NumPy, SciPy and Matplotlib.


#### PICKLE

Pickling” is the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation, whereby a byte stream (from a binary file or bytes-like object) is converted back into an object hierarchy.

## Feature Definition:

#### The datasets consist of several independent variables include:

1.Car_Name : This column represents the name of the car.

2.Year : This column represents the year in which the car was bought.

3.Selling_Price : This column represents the price the owner wants to sell the car at.

4.Present_Price : This is the present price of the car.

5.Kms_Driven : This is the distance completed by the car in km.

6.Fuel_Type : Fuel type of car i.e Diesel,Petrol,CNG

7.Seller_Type : Defines whether the seller is a dealer or an individual.

8.Transmission : Defines whether the car is manual or automatic.

9.Owner : Defines the number of owners the car has previously had

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('car data.csv')

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

### Checking Null Values

In [5]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

#### As it shows there is no null value in our dataset